.container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(144px, 360px));
    gap: 1rem;
    padding: 30px;
    
}

  .container div {
    height: 315px; width: 360px;
    font-family: Verdana,sans-serif, Arial;
    color: #eceff4;
    border-radius: 10px;
    background-color: #282a36;
    transition: all 500ms;
    aspect-ratio: 4/3.5;
    /* text-align: center; */
    padding-top: 0px; 
}

  .container div:hover{
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.01);
}

.container img{
  margin-top: 5px;
  padding-bottom: 0px;
  border-radius: 10px;
  border: 2px solid #ff79c6;

  width: 350px; 
  height: 197px;
}

.container button{
  background-color: #44475a;
  border: 0px;
}

.container h2{
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
}

.container hr{
  border-bottom: solid; 
  width: 300px; 
  color: #ff79c6;
}