.html{
  font-family:Verdana,sans-serif, Arial;
}
body {
  background-color: #44475a;
  margin: 0%;
}
p{
  color: #f8f8f2;
}
.para {
  color: #eceff4;
  font-size: 16px;
  font-family: Verdana,sans-serif, Arial;
  margin-bottom: 10%;
  margin-right: 15%;
  margin-left: 15%;
}
.title h1{
  color: #50fa7b; 
  text-align: center; 
  margin-bottom: 0px ; 
  margin-top: 2%;
  font-family: Verdana,sans-serif, Arial;
}
.title hr{
  border-bottom: solid; 
  width: 25%; 
  color: #8be9fd;
}
.title h3{
  text-align: center; 
  color:#f8f8f2; 
  font-family: Verdana,sans-serif, Arial; 
  margin-top: 0px;
}
.cool_font{
  font-family: Verdana,sans-serif, Arial;
}
h1 {
  margin-top: 5%;
  text-align: center;
  font-family: Verdana,sans-serif, Arial;
  color: #eceff4;
}
.center {
  text-align: center;
}
.bottom {
  color: #eceff4;
  font-size: x-small;
  font-family: Monaco, Lucida Console, Courier New;
  position: relative;
  text-align: center;
  bottom: 0px; 
  width: 100%;
}

.name{
  color: #eceff4;
  font-family: Monaco, Courier New;
}





