body {
    background-color: #4c566a;
  }
  p {
    color: #eceff4;
  }
  h1 {
    text-align: center;
    font-family: Sans-serif, Arial;
    color: #eceff4;
  }
  .center {
    text-align: center;

  }
  .bottom {
    font-size: x-small;
    font-family: Monaco, Lucida Console, Courier New;
    position: fixed;
    text-align: center;
    bottom: 0px; 
    width: 100%;
  }

  .game{
    font-family: Monaco, Courier New;
  }

  
