/* Top Bar Settings!*/
.topnav {
    overflow: hidden;
    background-color: #282a36;
  }
  
  .topnav a {
    float: left; 
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #d8dee9;
    color: black;
  }
  
  .topnav a.active {
    color: white;
    background-color: #bd93f9;
  }
  /* Top Setting ends*/